@media (max-width: 500px) {
    body {
        background-position: center center;
        background-color: rgba(0, 0, 0, 0.87);
        width: 100vw;
        height: 400px;
    }

    main {
        width: 87vw;
        font-size: 10px;
        height: 400px;
        margin-top: 100px;

    }
    ul li {
        margin-left: -55px;
    }

    section#yuusha, section#tgrotw, section#ishida, section#minor-piece, section#anywhere-anytime {
        width: 320px;
        margin-left: -38px;
    }
}