@media (max-width: 400px) {
    body {
        background-position: center center;
        background-color: rgba(0, 0, 0, 0.87);
        width: 100vw;
        height: 400px;
    }

    main {
        width: 95vw;
        font-size: 10px;
        height: 400px;
    }
    ul li {
        margin-left: -55px;
    }
}