@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Outfit", sans-serif;
    color: white;
    background: url("https://c.wallhere.com/photos/5e/72/Sousou_No_Frieren_Frieren-2291200.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

main {
    background-color: rgba(0, 0, 0, 0.671);
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
}

main h1 {
    text-align: center;
    font-size: 2em;
}

main ul {
    margin-top: 50px;
    margin-left: 30px;
    line-height: 4em;
    font-size: 1.5em;
    font-weight: 600;
}

main ul li a {
    color: white;
}

main ul li a:hover {
    color: #3da8f0;
}

main ul li:hover{
    color: #3da8f0;
}

main img {
    width: 20px;
}

p {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

a {
    color: white;
}

p#advise a:hover{
    color: darkgray;
}